<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySite</title>
</head>
<body>
    <div class="main">
        <img src="{{url_for('static', filename='logo.png')}}" width="100px" height="100px"> 
        <h1>
            MySite
        </h1>
        <h2>
            Site para treinar desenvolvimento web
        </h2>
        <hr>
    </div>
    <div class="rotes">

    </div>
</body>
</html>